#show-vertical-rhythm:checked~.typographic {
    background-image: linear-gradient(0deg, transparent 47.50%, #F6F0CF 47.50%, #F6F0CF 50%, transparent 50%, transparent 97.50%, #F6F0CF 97.50%, #F6F0CF 100%);
    background-size: var(--leading) calc(var(--leading) * 2);
    background-position: 0 1px;
}

#small-spacing:not(:checked)~.typographic {
    --h-spacing: 18px;
    --v-spacing: 12px;
}

#thick-lines:checked~.typographic {
    --line-thickness: 3px;
}

#large-ui:checked~.typographic {
    --leading: 1.5rem;
    --typographic-icon-size: calc(var(--leading) * 1.2);
    --icon-size: 24px;
}