img {
  margin: 20px 0;
  max-width: 200px;
}

small, h5 {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

small {text-overflow:ellipsis; display:block; border-bottom: 1px solid silver; padding-bottom: .5rem;}